.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140pt;
    height: 140pt;
}

.loader {
    padding: 16px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border-top: 45px solid black;
    border-left: 45px solid black;
    border-right: 45px solid white;
    border-bottom: 45px solid black;
    border-radius: 50%;
    animation: rotate 1s linear;
}

.dot {
    padding: 10px;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-color: cornflowerblue;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}